
html {
    font-family: 'Inter', sans-serif;
    

}

body {
    overflow-x: hidden;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 24px;
    padding: 20px;
    -webkit-box-shadow: 0px 10px 32px 0px rgba(209,209,209,0.62);
    -moz-box-shadow: 0px 10px 32px 0px rgba(209,209,209,0.62);
    box-shadow: 0px 10px 32px 0px rgba(209,209,209,0.62);


    
}

#main {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 20px;
    margin-top: 20px;
}

#title h1 {
    font-weight: bold;
    font-size: larger;
}

#title span {
    color: #FF2149;
    font-weight: bold;
}

article {
    height: 100px;
    background-color: #f1f1f1;
    width: 20rem;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    
}

article button {
    border: none;
    background-color: #FF2149;
    border-radius: 5px;
    color: #fff;
    padding: 10px;
    
    
}

section {
    margin-top: 20px;
    margin-bottom: 20px;
}

article div img {
    min-width: 100%;
    border-radius: 10px;
    height: 100%;
}

#espaco-img {
    max-width: 100px;
    overflow: hidden;
    border-radius: 10px;
    
}

#espaco-info {
    display: flex;
    text-align: left;
    padding: 10px;
    width: 100%;
    flex-direction: column;
    gap: 5px;
    
}

#espaco-info span {
    font-weight: bold;
}

#espaco-info p {
    color: #979797;
    max-width: 100%;
}


footer {
    background-color: #FF2149;
    width: 100%;
    height: 70px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content: start;
    align-items: center;
}

#button-sacola i {
    color: #FF2149;
    font-size: 30px;
}

#button-sacola {
    background-color: #f1f1f1;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    right: 0;
    bottom: 0;
    margin: 10px;
    z-index: 3;
}

footer span {
   color: #f1f1f1;
   font-weight: bold;
   margin: 20px;
   
}

/* configuração das notificacoes */

#seller-not {
    height: 100vh;
    width: 300px;
    background-color: #fff;
    position: absolute;
    right: -500px;
    top: 0;
    border-radius: 20px 0 0 0 ;
    -webkit-box-shadow: -11px 0px 32px 0px rgba(209,209,209,0.61);
    -moz-box-shadow: -11px 0px 32px 0px rgba(209,209,209,0.61);
    box-shadow: -11px 0px 32px 0px rgba(209,209,209,0.61);
    padding: 20px;
    transition: 0.5s ease-in-out;
    z-index: 999;
    
}

#seller-not.show {
    right: 0;
    transition: 0.3 cubic-bezier(0.075, 0.82, 0.165, 1);
}


#seller-not div {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 50px;
}

#backrow {
    font-size: 50px;
    color: #B5B5B5;
    cursor: pointer;
}

#backrow:hover {
    transform: scale(1.1);
}