<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/globalconfig.css">
    <link rel="stylesheet" href="css/10-cadastro-seller.css">
    <title> - Cadastro</title>
</head>
<body>
    <main>
        <div id="espaco-form-login">
            <form action="/logar" method="post">
                <h1>Cadastro</h1>
                <div>
                    <i class='bx bx-store' ></i>
                    <span>Nome do Comercio</span>
                </div>
                <input type="text" id="espaco-txt-login" name="" autocomplete="off">
                <div>
                    <i class='bx bx-envelope'></i>
                    <span>Email</span>
                </div>
                <input type="text" id="espaco-txt-login" name="" autocomplete="off">
                <div>
                    <i class='bx bx-key'></i>
                    <span>Senha</span>
                </div>
                <input type="password" id="espaco-txt-login" name="" autocomplete="off">
                <button>Cadastrar</button>
                <span>
                    Ao acessar este site, você concorda em cumprir nossos
                    <a href=""><strong style=" color: #FF2149; font-weight: bold; cursor: pointer;">Termos de Uso</strong></a> e reconhece que leu nossa 
                    <a href=""><strong style=" color: #FF2149; font-weight: bold; cursor: pointer;">Política de Privacidade</strong>.</a>
                </span>
            </form>
            <div>

            </div>
        </div>
        
    </main>
</body>
</html>