<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/globalconfig.css">
    <link rel="stylesheet" href="css/3-catalogo-seller.css">
    <title> - Catalogo</title>
</head>

<body>
    <div id="espaço-addprod" class="">
        <div id="tabela-addprod">
            <form action="post">
                <i class='bx bx-chevron-left' id="backrow2"></i>
                <h3>Informações do Produto</h3>
                <span>Imagem</span>
                <input type="file" name="" id="espaco-img-add">
                <span>Nome</span>
                <input type="text" name="" id="espaco-txt-add">
                <span>Descrição</span>
                <input type="text" name="" id="espaco-txt-add">
                <span>Preço</span>
                <input type="number" name="" id="espaco-txt-add">
                <span>Categoria</span>
                <select name="" id="espaco-select-add">
                    <option value="">Nenhuma Selecionada</option>
                </select>
                <a href="/catalogo">
                    <button>Cancelar</button>
                </a>
                <button type="submit">Publicar</button>
            </form>
        </div>
        <div id="fundo-addprod"><h1>morgadoi</h1></div>
    </div>
    <header>
        <div>
            <img src="" alt="logo">
        </div>
        <div id="header-fuctions">
            <i class='bx bx-bell' id="user-bell"></i>
            <span id="user-name"><%=autenticado.autenticado%></span>
            <i class='bx bxs-user-circle' id="user-icon"></i>
            <i class='bx bx-chevron-down' id="user-more"></i>
        </div>
        <div id="seller-not" class="">
            <div>
                <i class='bx bx-chevron-left' id="backrow"></i>
                <span>Notificações</span>
            </div>
            
        </div>
    </header>
    <main>
        <nav>
            <a href="/dashboard"><button><i class='bx bxs-dashboard'></i>Dashboard</button></a>
            <a href="/catalogo"><button class="actived"><i class='bx bx-food-menu'></i>Catalogo</button></a>
            <a href="/informacoes"><button><i class='bx bx-store' ></i>Informações</button></a>
            <a href="/chat"><button><i class='bx bx-message-square-dots'></i>Chat</button></a>
            <a href="/vendas"><button><i class='bx bx-objects-vertical-bottom'></i>Vendas</button></a>
            <a href="/assinatura"><button><i class='bx bxs-bookmark-plus'></i>Assinatura</button></a>
            <a href="/configuracoes"><button><i class='bx bx-cog'></i>Configurações</button></a>
        </nav>
        <section>
            <article id="article1">
                <h1>Catalogo</h1>
                <div>
                    <div>   
                        <input type="text" id="pesquisa" value="Pesquisar" onfocus="this.value='';">
                        <button id="pesquisar-icon"><i class='bx bx-search' ></i></button>
                    </div>
                    <a href="">
                        <div>
                            
                        </div>
                    </a>
                    
                        <input type="button" id="button-add" value="Adicionar produto">
                    
                </div>
                
            </article>
            <article id="article2">
                <table>
                    <tr>
                        <th>Produto</th>
                      <th>Nome</th>
                      <th>Categoria</th>
                      <th>Valor</th>  
                      <th>Ação</th> 
                    </tr>
                    <tr>
                        <td><img src="" alt="img_produto"></td>
                      <td>Hamburguer</td>
                      <td>Lanche</td>    
                      <td>R$ 00,00</td>
                      <td>
                        <a href="">
                            <button id="table-editar">Editar</button>
                        </a>
                        <a href="">
                            <button id="table-deletar">Deletar</button>
                        </a>
                      </td>
                    </tr>
                  </table>
            </article>
            
        </section>
    </main>
    <script>
        // configuração das notificações 

        const notbutton = document.getElementById("user-bell");
        const notbar = document.getElementById("seller-not");
        const notclose = document.getElementById("backrow");

        notbutton.addEventListener("click", ()=>{
            notbar.classList.add("show");
        })

        notclose.addEventListener("click", ()=>{
            notbar.classList.remove("show");
        })

        // configuração do popup produto 

        const addbutton = document.getElementById("button-add");
        const formProd = document.getElementById("espaço-addprod");
        const closepopup = document.getElementById("backrow2");

        addbutton.addEventListener("click", ()=>{
            formProd.classList.add("show");
        })

        closepopup.addEventListener("click", ()=>{
            formProd.classList.remove("show");
        })

    </script>
</body>
</html>