<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/globalconfig.css">
    <title> - Dashboard</title>
</head>
<body>
    <header>
        <div>
            <img src="" alt="logo">
        </div>
        <div id="header-fuctions">
            <i class='bx bx-bell' id="user-bell"></i>
            <span id="user-name">Morgado</span>
            <i class='bx bxs-user-circle' id="user-icon"></i>
            <i class='bx bx-chevron-down' id="user-more"></i>
        </div>
        <div id="seller-not" class="">
            <div>
                <i class='bx bx-chevron-left' id="backrow"></i>
                <span>Notificações</span>
            </div>
            
        </div>
    </header>
    <main>
        <nav>
            <a href="/dashboard"><button><i class='bx bxs-dashboard'></i>Dashboard</button></a>
            <a href="/catalogo"><button><i class='bx bx-food-menu'></i>Catalogo</button></a>
            <a href="/informacoes"><button><i class='bx bx-store' ></i>Informações</button></a>
            <a href="/chat"><button class="actived"><i class='bx bx-message-square-dots'></i>Chat</button></a>
            <a href="/vendas"><button><i class='bx bx-objects-vertical-bottom'></i>Vendas</button></a>
            <a href="/assinatura"><button><i class='bx bxs-bookmark-plus'></i>Assinatura</button></a>
            <a href="/configuracoes"><button><i class='bx bx-cog'></i>Configurações</button></a>
        </nav>
        <section>
            <h1>Chat</h1>
        </section>
    </main>
    <script>
        // configuração das notificações 

        const notbutton = document.getElementById("user-bell");
        const notbar = document.getElementById("seller-not");
        const notclose = document.getElementById("backrow");

        notbutton.addEventListener("click", ()=>{
            notbar.classList.add("show");
        })

        notclose.addEventListener("click", ()=>{
            notbar.classList.remove("show");
        })
    </script>
</body>
</html>