<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="stylesheet" href="css/reset.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

    <title> - Cardapio</title>
</head>
<body>
    <header>
        <div id="fundo-header"><img id="img-fundo-header" src="img/img-fundo.jpg" alt=""></div>
        <button><i class='bx bxs-share-alt'></i></button>
        <div id="img-restaurante"><img id="img-perfil" src="img/user.png" alt="img-restaurante"></div>        
    </header>
    <main>
        <div id="info-restaurante"></div>
    </main>
</body>
</html>